body, p, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ol {
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

:after, :before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  background: initial;
  border: initial;
  -webkit-appearance: none;
}

button:active {
  border-style: initial;
}

button:focus {
  outline: initial;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  min-inline-size: -webkit-min-content;
  min-inline-size: -moz-min-content;
  min-inline-size: min-content;
  border: 2px #0000;
  border-image: initial;
  margin-inline: 0;
}

figure {
  margin-block: 0;
  margin-inline: 0;
  display: block;
}

input[type="submit"] {
  appearance: none;
}

:focus {
  outline: 0 #0000 !important;
}

input[type="submit"] {
  appearance: none;
}

body {
  overflow: hidden;
}

body header {
  background: #4f37ff;
  border-bottom: 1px solid #0000001a;
  padding: 1.25rem 0 1.25rem 5rem;
}

@media screen and (max-width: 1447px) {
  body header {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 639px) {
  body header {
    padding-left: 1.5rem;
  }
}

body .conteudo .intro {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  background: #00ff8c;
  margin-top: 13vh;
  padding: 0 1.5rem;
  transform: rotate(-10deg);
}

@media screen and (max-width: 639px) {
  body .conteudo .intro {
    margin-top: 7vh;
  }
}

@media screen and (max-width: 1667px) {
  body .conteudo .intro {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 1281px) {
  body .conteudo .intro {
    margin-top: 8vh;
  }
}

body .conteudo .intro h1 {
  color: #4f37ff;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 7rem;
}

@media screen and (max-width: 639px) {
  body .conteudo .intro h1 {
    text-align: center;
    width: min-content;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 1667px) {
  body .conteudo .intro h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1447px) {
  body .conteudo .intro h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1281px) {
  body .conteudo .intro h1 {
    font-size: 3rem;
  }
}

body .conteudo .conteudo-intermediario {
  gap: 4rem;
  display: flex;
}

.conteudo .img-clouds img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 145px;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1281px) {
  .conteudo .img-clouds img {
    top: 95px;
  }
}

@media screen and (max-width: 639px) {
  .conteudo .img-clouds img {
    top: -10vh;
  }
}

.conteudo .img-circle img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 267px;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1667px) {
  .conteudo .img-circle img {
    top: 265px;
  }
}

@media screen and (max-width: 1281px) {
  .conteudo .img-circle img {
    top: 245px;
  }
}

@media screen and (max-width: 639px) {
  .conteudo .img-circle img {
    object-fit: contain;
  }
}

.conteudo .conteudo-intermediario .img-airplane img {
  width: 40%;
  height: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 15vh;
  right: 30vh;
}

@media screen and (max-width: 1667px) {
  .conteudo .conteudo-intermediario .img-airplane img {
    bottom: 10vh;
  }
}

@media screen and (max-width: 1447px) {
  .conteudo .conteudo-intermediario .img-airplane img {
    right: 25vh;
  }
}

@media screen and (max-width: 1372px) {
  .conteudo .conteudo-intermediario .img-airplane img {
    bottom: 8vh;
    right: 20vh;
  }
}

@media screen and (max-width: 639px) {
  .conteudo .conteudo-intermediario .img-airplane img {
    width: 400px;
    top: 25vh;
    bottom: 0;
    right: 1vh;
  }
}

.conteudo-intermediario .card {
  width: 488px;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 17.5vh;
  left: 35vh;
  box-shadow: 0 1px 4px #100b3733, 0 3px 16px #100b371a;
}

@media screen and (max-width: 1667px) {
  .conteudo-intermediario .card {
    bottom: 9.5vh;
  }
}

@media screen and (max-width: 1447px) {
  .conteudo-intermediario .card {
    width: 420px;
    padding: 1.5rem;
    bottom: 6.5vh;
  }
}

@media screen and (max-width: 1372px) {
  .conteudo-intermediario .card {
    bottom: 8vh;
    left: 25vh;
  }
}

@media screen and (max-width: 1281px) {
  .conteudo-intermediario .card {
    bottom: 8.5vh;
    left: 25vh;
  }
}

@media screen and (max-width: 639px) {
  .conteudo-intermediario .card {
    width: 370px;
    bottom: 10vh;
    left: 2.5vh;
  }
}

.conteudo-intermediario .card h2 {
  color: #4f37ff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

@media screen and (max-width: 639px) {
  .conteudo-intermediario .card h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.conteudo-intermediario .card p {
  width: 22rem;
  color: #0f0f0f;
  margin-top: 1rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

@media screen and (max-width: 639px) {
  .conteudo-intermediario .card p {
    width: 17.5rem;
    font-size: .75rem;
    line-height: 1.25rem;
  }
}

.conteudo-intermediario .card .formulario .input-icon-left {
  margin-top: 2rem;
  position: relative;
}

.conteudo-intermediario .card .formulario .input-icon-left img {
  left: .75rem;
  right: initial;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.conteudo-intermediario .card .formulario .input-icon-left input {
  width: 100%;
  color: #666;
  background: #fff;
  border: 1px solid #c8c2ff;
  border-radius: .75rem;
  padding: .75rem 1rem .75rem 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.conteudo-intermediario .card .formulario .input-icon-right {
  width: 100%;
  position: relative;
}

.conteudo-intermediario .card .formulario .input-icon-right img {
  right: 30%;
  left: initial;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 639px) {
  .conteudo-intermediario .card .formulario .input-icon-right img {
    right: 15%;
  }
}

.conteudo-intermediario .card .formulario .conteudo-final {
  align-items: center;
  gap: .5rem;
  margin-top: 1.5rem;
  display: flex;
}

.conteudo-intermediario .card .formulario .conteudo-final .icon-question {
  border: 1px solid #4f37ff;
  border-radius: 12px;
  padding: .75rem;
}

.conteudo-intermediario .card .formulario .conteudo-final .icon-question img {
  width: 1.5rem;
  height: 1.5rem;
}

.conteudo-intermediario .card .formulario .conteudo-final button {
  width: 100%;
  color: #fff;
  cursor: pointer;
  background: #857aea;
  border-radius: .75rem;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

/*# sourceMappingURL=index.css.map */
