body, p, input, h1, h2, ul, li {
  margin: 0;
  padding: 0;
  font-family: vinila;
}

li {
  list-style: none;
}

ol {
  padding: 0;
}

button {
  cursor: pointer;
  font-family: vinila;
}

:after, :before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  background: initial;
  border: initial;
  -webkit-appearance: none;
}

button:active {
  border-style: initial;
}

button:focus {
  outline: initial;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  min-inline-size: -webkit-min-content;
  min-inline-size: -moz-min-content;
  min-inline-size: min-content;
  border: 2px #0000;
  border-image: initial;
  margin-inline: 0;
}

figure {
  margin-block: 0;
  margin-inline: 0;
  display: block;
}

input[type="submit"] {
  appearance: none;
}

:focus {
  outline: 0 #0000 !important;
}

input[type="submit"] {
  appearance: none;
}

header.faq-menu {
  background: #4f37ff;
  border-bottom: 1px solid #0000001a;
  justify-content: space-between;
  gap: 1.5rem;
  padding-block: 1.25rem;
  padding-inline: 5vw;
  display: flex;
}

header.faq-menu .logo svg {
  width: 6.0625rem;
  height: 2rem;
}

header.faq-menu nav {
  align-items: center;
  display: flex;
}

@media screen and (max-width: 800px) {
  header.faq-menu nav {
    display: none;
  }
}

header.faq-menu ul {
  width: 38.75rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header.faq-menu ul a {
  color: #fff;
  text-decoration: none;
  transition: all .2s;
}

header.faq-menu ul a:hover {
  color: #00ff8c;
}

header.faq-menu .social-media {
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

@media screen and (max-width: 1024px) {
  header.faq-menu .social-media {
    display: none;
  }
}

header.faq-menu .social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

footer.faq-footer {
  color: #fff;
  background: #1202a4;
}

footer.faq-footer .footer-wrapper {
  max-width: 1075px;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding: 2rem 1.5rem;
  display: flex;
}

@media screen and (max-width: 600px) {
  footer.faq-footer .footer-wrapper {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
  }
}

.about-menta {
  max-width: 25rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 800px) {
  .about-menta {
    max-width: 18.75rem;
  }
}

@media screen and (max-width: 600px) {
  .about-menta {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: .5rem;
  }
}

.about-menta a {
  color: #fff;
  line-height: 1.25rem;
  text-decoration: underline;
  display: block;
}

.about-menta .about-col {
  text-align: left;
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.menta-online {
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  display: flex;
}

.menta-online span {
  margin-bottom: .625rem;
  font-weight: bold;
}

.menta-online .social-media {
  gap: 2rem;
  display: flex;
}

.menta-online .social-media svg {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
}

footer.faq-footer .all-rights-reserved {
  width: 100%;
  text-align: center;
  border-top: 1px solid #fff;
  justify-content: center;
  align-items: center;
  padding-block: 1.6rem;
  display: flex;
}

@media screen and (max-width: 600px) {
  footer.faq-footer .all-rights-reserved {
    flex-direction: column;
  }

  footer.faq-footer .all-rights-reserved span, footer.faq-footer .all-rights-reserved p {
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

footer.faq-footer .all-rights-reserved p:before {
  content: "•";
  content: "";
  padding-inline: 8px;
}

main {
  overflow-x: hidden;
}

.PageFaq {
  font-family: vinila;
  overflow-x: hidden;
}

.PageFaq .section-header {
  background: #00ff8c;
  justify-content: space-between;
  gap: 4rem;
  padding-top: 2.5rem;
  padding-left: 5vw;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .PageFaq .section-header {
    padding-left: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .PageFaq .section-header {
    flex-direction: column;
    gap: .5rem;
    padding-left: 1vw;
  }
}

.PageFaq .section-header h2 {
  color: #4f37ff;
  text-transform: uppercase;
  font-size: 3.375rem;
  line-height: 72px;
}

@media screen and (max-width: 600px) {
  .PageFaq .section-header {
    text-align: center;
  }
}

.PageFaq .section-header .title-bg {
  color: #00ff8c;
  clip-path: polygon(0 20%, 99% 0%, 100% 80%, 1% 100%);
  text-align: center;
  background: #4f37ff;
  padding: .3rem 2.8rem;
}

@media screen and (max-width: 800px) {
  .PageFaq .section-header .title-bg {
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
  }
}

.PageFaq .section-header .title-bg h2 {
  color: #00ff8c;
}

@media screen and (max-width: 600px) {
  .PageFaq .section-header .title-bg {
    width: 95%;
    padding-inline: 1.5rem;
  }
}

.PageFaq .section-header h2.relative {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 26%;
}

@media screen and (max-width: 600px) {
  .PageFaq .section-header h2.relative {
    margin-inline: auto;
    position: static;
  }
}

.PageFaq .section-header .faq-img {
  max-width: 48vw;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .PageFaq .section-header .faq-img {
    max-width: 42vw;
  }
}

@media screen and (max-width: 800px) {
  .PageFaq .section-header .faq-img {
    max-width: 100vw;
    margin-left: auto;
    position: static;
  }
}

@media screen and (max-width: 600px) {
  .PageFaq .section-header .title-bg {
    padding-inline: .25rem;
  }
}

.PageFaq .faq-cards {
  background: #ebeaf4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-block: 6.25rem;
  padding-inline: 1.5rem;
  display: flex;
}

@media screen and (max-width: 600px) {
  .PageFaq .faq-cards {
    padding-block: 3.5rem 6.25rem;
    padding-inline: .5rem;
  }
}

.PageFaq .faq-card {
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  display: flex;
  box-shadow: 0 1px 4px #100b3733, 0 3px 16px #100b371a;
}

.PageFaq .faq-card .faq-card-title {
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
  display: flex;
}

.PageFaq .faq-card .faq-card-title svg {
  width: 2rem;
  height: 2rem;
}

.PageFaq .faq-card .faq-card-title h5 {
  color: #1202a4;
  margin-block: 0;
  padding-block: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.PageFaq .faq-card span {
  color: #0f0f0f;
  font-size: 1rem;
  line-height: 1.5rem;
}

.PageEmBreve .conteudo-intermediario .card-form {
  width: 488px;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  position: absolute;
  bottom: 17.5vh;
  left: 35vh;
  box-shadow: 0 1px 4px #100b3733, 0 3px 16px #100b371a;
}

.PageEmBreve .conteudo-intermediario .card-form h2 {
  color: #4f37ff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.PageEmBreve .conteudo-intermediario .card-form p {
  width: 22rem;
  color: #0f0f0f;
  margin-top: 1rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .input-icon-left {
  margin-top: 2rem;
  position: relative;
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .input-icon-left img {
  left: .75rem;
  right: initial;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .input-icon-left input {
  width: 100%;
  padding: .75rem 1rem;
  color: #666;
  background: #fff;
  border: 1px solid #c8c2ff;
  border-radius: .75rem;
  padding-left: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .input-icon-right {
  width: 100%;
  position: relative;
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .input-icon-right img {
  right: 30%;
  left: initial;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final {
  align-items: center;
  gap: .5rem;
  margin-top: 1.5rem;
  display: flex;
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final .icon-question {
  border: 1px solid #4f37ff;
  border-radius: 12px;
  padding: .75rem;
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final .icon-question img {
  width: 1.5rem;
  height: 1.5rem;
}

.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button {
  width: 100%;
  color: #fff;
  cursor: pointer;
  background: #857aea;
  border-radius: .75rem;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.PageEmBreve .conteudo .img-clouds img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 125px;
  bottom: 0;
  left: 0;
}

.PageEmBreve .conteudo .img-circle img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 267px;
  bottom: 0;
  left: 0;
}

.PageEmBreve .conteudo .conteudo-intermediario .img-airplane img {
  width: 40%;
  height: 40%;
  object-fit: contain;
  position: absolute;
  bottom: 15vh;
  right: 30vh;
}

.PageEmBreve body {
  font-family: vinila;
  font-size: 1rem;
  overflow: hidden;
}

.PageEmBreve body header {
  background: #4f37ff;
  border-bottom: 1px solid #0000001a;
  padding: 1.25rem 0 1.25rem 5rem;
}

.PageEmBreve body .conteudo .intro {
  max-width: -moz-fit-content;
  max-width: fit-content;
  background: #00ff8c;
  margin: 13vh auto 0;
  padding: 0 1.5rem;
  transform: rotate(-10deg);
}

.PageEmBreve body .conteudo .intro h1 {
  color: #4f37ff;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 7rem;
}

.PageEmBreve body .conteudo .conteudo-intermediario {
  gap: 4rem;
  display: flex;
}

.PagePost h3 {
  color: #4f37ff;
  margin-block: 0;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.75rem;
}

.PagePost h6 {
  color: #0f0f0f;
  margin-block: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.PagePost p {
  line-height: 1.5rem;
}

.PagePost .post-container {
  max-width: 85.375rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
}

.PagePost .post-container a.back-button {
  width: 100%;
  color: #4f37ff;
  align-items: center;
  gap: .75rem;
  margin-block: 2.5rem;
  padding-inline: 5vw;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.PagePost .post-container svg {
  width: .625rem;
  height: 1.0625rem;
}

.PagePost .post-container .post-wrapper {
  max-width: 49.625rem;
  width: 100%;
  flex-direction: column;
  gap: 2.5rem;
  display: flex;
}

@media screen and (max-width: 800px) {
  .PagePost .post-container .post-wrapper {
    gap: 1.5rem;
  }
}

.PagePost .post-container .post-wrapper .main-img {
  max-width: 56.0625rem;
}

.PagePost .post-container .post-wrapper img {
  border-radius: 16px 16px 0 0;
}

.PagePost .post-container .post-wrapper .post-header {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.PagePost .post-container .post-wrapper .post-header .post-infos {
  color: #474747;
  align-items: center;
  gap: 1.25rem;
  display: flex;
}

@media screen and (max-width: 800px) {
  .PagePost .post-container .post-wrapper .post-header .post-infos {
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
  }
}

.PagePost .post-container .post-wrapper .post-header .post-infos .post-info {
  align-items: center;
  gap: .625rem;
  display: flex;
}

.PagePost .post-container .post-wrapper .post-header svg {
  color: #474747;
  width: 1.5rem;
  height: 1.5rem;
}

.PagePost .post-container .post-wrapper .post-content {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.PagePost .post-container .post-wrapper .post-columns {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  display: flex;
}

@media screen and (max-width: 800px) {
  .PagePost .post-container .post-wrapper .post-columns {
    flex-direction: column;
  }
}

.PagePost .post-container .author-container {
  border-block: 1px solid #a3a3a3;
  grid-template-columns: 56px 1fr;
  gap: 1rem;
  padding-block: 3.4375rem;
  display: grid;
}

.PagePost .post-container .author-container .author-info {
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.PagePost .post-container .author-container .author-info strong {
  font-size: 1.125rem;
}

.PagePost .post-container .author-container .author-info span {
  font-weight: 300;
  line-height: 1.5rem;
}

.PagePost .post-container .next-reading {
  padding-bottom: 5.25rem;
}

.PagePost .post-container .next-reading h5 {
  color: #1d00f5;
  margin-block: 1rem 2rem;
  font-size: 1.5rem;
}

.PagePost .post-container .next-reading h6 {
  color: #4f37ff;
  text-align: center;
  line-height: 1.75rem;
}

.PagePost .post-container .next-reading img {
  width: 100%;
  border-radius: 8px;
}

.PagePost .post-container .next-reading .next-post-card {
  min-height: 16rem;
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.PagePost .post-container .next-reading .next-post-card a {
  color: #4f37ff;
  align-items: center;
  gap: .5938rem;
  margin-top: auto;
  margin-left: auto;
  text-decoration: none;
  display: flex;
}

.PagePost .post-container .next-reading .next-post-card a svg {
  width: .9375rem;
  height: .7813rem;
}

.PageBlog {
  background: #ebeaf4;
}

.PageBlog .section-header {
  background: #00ff8c;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding-top: 0;
  padding-left: 5vw;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .PageBlog .section-header {
    padding-left: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .PageBlog .section-header {
    flex-direction: column;
    gap: .5rem;
    padding-left: 1vw;
  }
}

.PageBlog .section-header h2 {
  color: #4f37ff;
  text-transform: uppercase;
  font-size: 3.375rem;
  line-height: 72px;
}

@media screen and (max-width: 600px) {
  .PageBlog .section-header {
    text-align: center;
  }
}

.PageBlog .section-header .title-bg {
  color: #00ff8c;
  clip-path: polygon(0 20%, 99% 0%, 100% 80%, 1% 100%);
  text-align: center;
  background: #4f37ff;
  padding: .3rem 2.8rem;
}

@media screen and (max-width: 800px) {
  .PageBlog .section-header .title-bg {
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
  }
}

.PageBlog .section-header .title-bg h2 {
  color: #00ff8c;
}

@media screen and (max-width: 600px) {
  .PageBlog .section-header .title-bg {
    width: 95%;
    padding-inline: 1.5rem;
  }
}

.PageBlog .section-header h2.relative {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 26%;
}

@media screen and (max-width: 600px) {
  .PageBlog .section-header h2.relative {
    margin-inline: auto;
    position: static;
  }
}

.PageBlog .section-header .faq-img {
  max-width: 48vw;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .PageBlog .section-header .faq-img {
    max-width: 42vw;
  }
}

@media screen and (max-width: 800px) {
  .PageBlog .section-header .faq-img {
    max-width: 100vw;
    margin-left: auto;
    position: static;
  }

  .PageBlog .section-header {
    padding-top: 1.6rem;
  }
}

.PageBlog .section-header .title-bg {
  align-self: center;
}

.PageBlog .section-header .blog-img {
  max-width: 28.3125rem;
  margin-bottom: -1.5rem;
  padding-top: 1rem;
}

.PageBlog .section-header .blog-img img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .PageBlog .section-header .blog-img {
    margin-left: auto;
    padding-top: 0;
  }
}

.PageBlog .blog-wrapper {
  max-width: 1206px;
  flex-direction: column;
  gap: 2rem;
  margin-block: 6.25rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
}

.PageBlog .blog-wrapper .main-card {
  width: 100%;
  background: #fff;
  border-radius: 16px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  display: grid;
  box-shadow: 0 1px 4px #100b3733, 0 3px 16px #100b371a;
}

@media screen and (max-width: 800px) {
  .PageBlog .blog-wrapper .main-card {
    grid-template-columns: 1fr;
  }
}

.PageBlog .blog-wrapper .main-card .main-card-img {
  height: 100%;
}

.PageBlog .blog-wrapper .main-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 16px 0 0 16px;
}

@media screen and (max-width: 800px) {
  .PageBlog .blog-wrapper .main-card img {
    border-radius: 16px 16px 0 0;
  }
}

.PageBlog .blog-wrapper .main-card .main-card-info {
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.8rem;
  display: flex;
}

.PageBlog .blog-wrapper .main-card h5 {
  color: #4f37ff;
  margin-block: 0;
  font-size: 1.5rem;
  line-height: 32px;
}

.PageBlog .blog-wrapper .main-card p {
  color: #0f0f0f;
  line-height: 1.5rem;
}

.PageBlog .blog-wrapper .main-card a {
  color: #4f37ff;
  align-items: center;
  gap: .5938rem;
  margin-top: 2.5rem;
  margin-left: auto;
  text-decoration: none;
  display: flex;
}

.PageBlog .blog-wrapper .main-card a svg {
  width: .9375rem;
  height: .7813rem;
}

.PageBlog .blog-wrapper .swiper {
  margin-inline: 0;
}

.PageBlog .blog-wrapper .swiper .swiper-slide {
  border-radius: 8px;
  box-shadow: 0 1px 4px #100b3733, 0 3px 16px #100b371a;
}

.PageBlog .blog-wrapper .blog-card {
  min-height: 23rem;
  background: #fff;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
}

.PageBlog .blog-wrapper .blog-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.PageBlog .blog-wrapper .blog-card h6 {
  color: #4f37ff;
  margin-block: 0;
  padding: 1.5rem 1.5rem 0;
  font-size: 24px;
  line-height: 2rem;
}

.PageBlog .blog-wrapper .blog-card a {
  color: #4f37ff;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: .5938rem;
  margin: auto 1.5rem 1.5rem auto;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.PageBlog .blog-wrapper .blog-card a svg {
  width: .9375rem;
  height: .7813rem;
}

.PageBlog .blog-wrapper .menta-way {
  width: 100%;
  color: #fff;
  text-align: center;
  background: url("blog_img2.ecdaf8df.png") 0 0 / cover no-repeat;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-block: 2.25rem;
  padding: 4.5rem 1.5rem;
  display: flex;
}

.PageBlog .blog-wrapper .menta-way button {
  color: #fff;
  cursor: pointer;
  max-width: 23.75rem;
  width: 100%;
  background: #4f37ff;
  border-radius: 8px;
  justify-content: center;
  margin-top: 2rem;
  padding-block: .75rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.PageBlog .blog-wrapper .menta-way button:hover {
  background: #1d00f5;
}

.PageBlog .blog-wrapper h3 {
  margin-block: 0;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.75rem;
}

.PageBlog .see-more {
  justify-content: center;
  display: flex;
}

.PageBlog .see-more a {
  color: #4f37ff;
  max-width: 36.8125rem;
  width: 100%;
  text-align: center;
  border: 1px solid #4f37ff;
  border-radius: 12px;
  margin-top: 32px;
  padding: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  transition: all .2s;
}

.PageBlog .see-more a:hover {
  color: #fff;
  background: #4f37ff;
}

.PageBlog .modal {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: #00000059;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.PageBlog .modal header {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.PageBlog .modal h4 {
  color: #4f37ff;
  margin-block: 0;
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.PageBlog .modal span {
  line-height: 1.5rem;
}

.PageBlog .modal .card-form {
  max-width: 587px;
  width: 96%;
  background: #fff;
  border-radius: 1rem;
  flex-direction: column;
  gap: 2.5rem;
  padding-block: 2rem;
  padding-inline: 3vw;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 4px #100b3733, 0 3px 16px #100b371a;
}

@media screen and (max-width: 600px) {
  .PageBlog .modal .card-form {
    width: 90%;
    padding-inline: 1rem;
  }
}

.PageBlog .modal .card-form .input-validation-field {
  flex-direction: column;
  gap: .25rem;
  display: flex;
  position: relative;
}

.PageBlog .modal .card-form .input-validation-field p {
  color: #c82400;
  font-size: .75rem;
  position: absolute;
  top: 4.25rem;
}

.PageBlog .modal .card-form .form-columns {
  grid-template-columns: 1fr 1fr;
  gap: 1.8vw;
  display: grid;
}

@media screen and (max-width: 600px) {
  .PageBlog .modal .card-form .form-columns {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.PageBlog .modal .card-form form {
  flex-direction: column;
  gap: 2.5rem;
  display: flex;
}

@media screen and (max-width: 600px) {
  .PageBlog .modal .card-form form {
    gap: 2rem;
  }
}

.PageBlog .modal .card-form input {
  width: 100%;
  color: #0f0f0f;
  color: #212529;
  appearance: none;
  background-clip: padding-box;
  border: 0;
  outline: 0;
  padding-block: .375rem;
  padding-inline: .625rem 0;
  font-size: 1rem;
  display: block;
}

.PageBlog .modal .card-form footer {
  align-items: center;
  gap: .5rem;
  display: flex;
}

.PageBlog .modal .card-form footer button {
  color: #fff;
  background: #857aea;
  border-radius: .75rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: .75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  transition: all .2s;
  display: flex;
}

.PageBlog .modal .card-form footer button svg {
  color: #fff;
}

.PageBlog .modal .card-form footer button:hover {
  background: #6f5cff;
}

.PageBlog .modal .card-form a.icon-question {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #4f37ff;
  border-radius: .75rem;
  align-items: center;
  padding: .75rem;
  transition: all .2s;
  display: flex;
}

.PageBlog .modal .card-form a.icon-question:hover {
  background: #edebff;
}

.PageBlog .modal .card-form svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #666;
}

.PageBlog .input-field {
  width: 100%;
  border: 1px solid #c8c2ff;
  border-radius: .75rem;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  display: flex;
}

.PageBlog .input-field.valido {
  background-image: url("valid.6c6e3d86.svg");
  background-position: right 1.125rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-right: 1.125rem;
  border: 1px solid #1cc800 !important;
}

.PageBlog .input-field.valido input {
  width: calc(100% - 48px);
}

.PageBlog .input-field.invalido {
  background-image: url("invalid.8b4e9b97.svg");
  background-position: right 1.125rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-right: 1rem;
  border: 2px solid #c82400 !important;
}

.PageBlog .input-field.invalido input {
  width: calc(100% - 48px);
}

.PageBlog .input-field:focus-within {
  border: 2px solid #2648be;
}

.PageBlog .input-field:focus-within svg {
  color: #0f0f0f;
}

/*# sourceMappingURL=index.css.map */
