body, p, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ol {
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

:after, :before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  background: initial;
  border: initial;
  -webkit-appearance: none;
}

button:active {
  border-style: initial;
}

button:focus {
  outline: initial;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  min-inline-size: -webkit-min-content;
  min-inline-size: -moz-min-content;
  min-inline-size: min-content;
  border: 2px #0000;
  border-image: initial;
  margin-inline: 0;
}

figure {
  margin-block: 0;
  margin-inline: 0;
  display: block;
}

input[type="submit"] {
  appearance: none;
}

:focus {
  outline: 0 #0000 !important;
}

input[type="submit"] {
  appearance: none;
}

body {
  overflow-x: hidden;
}

body header {
  background: #4f37ff;
  border-bottom: 1px solid #0000001a;
  padding: 1.25rem 0 1.25rem 5rem;
}

@media screen and (max-width: 1447px) {
  body header {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 639px) {
  body header {
    padding-left: 1.5rem;
  }
}

body section {
  min-height: calc(100vh - 81px);
  position: relative;
}

@media screen and (max-width: 1200px) {
  body section {
    height: unset;
    padding-bottom: 3rem;
  }
}

body section .container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
}

body section .container .grid-wrapper {
  flex: 1;
  grid-template-columns: .8fr 1fr;
  justify-self: center;
  align-items: center;
  display: grid;
}

@media screen and (max-width: 1200px) {
  body section .container .grid-wrapper {
    grid-template-columns: 1fr;
    margin-top: -15px;
  }
}

body section .intro {
  max-width: -moz-fit-content;
  max-width: fit-content;
  background: #00ff8c;
  margin: 100px auto 4rem;
  padding: .875rem;
  transform: rotate(-10deg);
}

@media screen and (max-width: 1667px) {
  body section .intro {
    margin-top: 66px;
    transform: rotate(-7deg);
  }
}

@media screen and (max-width: 1447px) {
  body section .intro {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  body section .intro {
    padding: .875rem;
  }
}

@media screen and (max-width: 639px) {
  body section .intro {
    margin-top: 7vh;
  }
}

body section .intro h1 {
  color: #4f37ff;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 1.5;
}

@media screen and (max-width: 639px) {
  body section .intro h1 {
    text-align: center;
    width: min-content;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 1667px) {
  body section .intro h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1447px) {
  body section .intro h1 {
    font-size: 3rem;
  }
}

body section .conteudo-intermediario {
  gap: 4rem;
  display: flex;
}

section .clouds {
  max-height: 80vh;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1200px) {
  section .clouds {
    max-height: unset;
    inset: 0;
  }
}

section .clouds img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .circle {
  z-index: -1;
  position: absolute;
  bottom: 0;
}

section .circle img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  section .img-airplane {
    grid-row: 1;
  }
}

section .img-airplane img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  section .img-airplane img {
    max-width: 488px;
    margin: 0 auto;
  }
}

.grid-wrapper .card {
  max-width: 488px;
  width: 100%;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  bottom: 17.5vh;
  left: 35vh;
  box-shadow: 0 1px 4px #100b3733, 0 3px 16px #100b371a;
}

@media screen and (max-width: 1667px) {
  .grid-wrapper .card {
    bottom: 9.5vh;
  }
}

@media screen and (max-width: 1447px) {
  .grid-wrapper .card {
    max-width: 420px;
    padding: 1.5rem;
    bottom: 6.5vh;
  }
}

@media screen and (max-width: 1372px) {
  .grid-wrapper .card {
    bottom: 9vh;
    left: 25vh;
  }
}

@media screen and (max-width: 1200px) {
  .grid-wrapper .card {
    margin: 0 auto;
  }
}

@media screen and (max-width: 639px) {
  .grid-wrapper .card {
    position: unset;
    gap: 0;
    bottom: 10vh;
    left: 2.5vh;
  }
}

.grid-wrapper .card h2 {
  color: #4f37ff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

@media screen and (max-width: 639px) {
  .grid-wrapper .card h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.grid-wrapper .card p {
  width: 22rem;
  color: #0f0f0f;
  margin-top: 1rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

@media screen and (max-width: 639px) {
  .grid-wrapper .card p {
    width: 17.5rem;
    font-size: .75rem;
    line-height: 1.25rem;
  }
}

.grid-wrapper .card .formulario .input-icon-left {
  margin-top: 2rem;
  position: relative;
}

.grid-wrapper .card .formulario .input-icon-left img {
  left: .75rem;
  right: initial;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.grid-wrapper .card .formulario .input-icon-left input {
  width: 100%;
  color: #666;
  background: #fff;
  border: 1px solid #c8c2ff;
  border-radius: .75rem;
  padding: .75rem 1rem .75rem 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.grid-wrapper .card .formulario .input-icon-right {
  width: 100%;
  position: relative;
}

.grid-wrapper .card .formulario .input-icon-right img {
  right: 30%;
  left: initial;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1447px) {
  .grid-wrapper .card .formulario .input-icon-right img {
    right: 25%;
  }
}

@media screen and (max-width: 639px) {
  .grid-wrapper .card .formulario .input-icon-right img {
    right: 18%;
  }
}

.grid-wrapper .card .formulario .conteudo-final {
  align-items: center;
  gap: .5rem;
  margin-top: 1.5rem;
  display: flex;
}

.grid-wrapper .card .formulario .conteudo-final .icon-question {
  border: 1px solid #4f37ff;
  border-radius: 12px;
  padding: .75rem;
}

.grid-wrapper .card .formulario .conteudo-final .icon-question img {
  width: 1.5rem;
  height: 1.5rem;
}

.grid-wrapper .card .formulario .conteudo-final button {
  width: 100%;
  color: #fff;
  cursor: pointer;
  background: #857aea;
  border-radius: .75rem;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

/*# sourceMappingURL=index.css.map */
