@charset "UTF-8";
html {
  --font-base: 16px;
  font-size: var(--font-base);
}

.container {
  max-width: calc(1206px + 3rem);
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (max-width: 1446px) {
  html {
    font-size: calc(var(--font-base) - 10.25%);
  }
}
@media (max-width: 980px) {
  html {
    font-size: calc(var(--font-base) - 12.5%);
  }
}
@media (max-width: 340px) {
  html {
    font-size: calc(var(--font-base) - 30%);
  }
}
body,
p,
input,
h1,
h2,
ul,
li {
  margin: 0px;
  padding: 0px;
  font-family: "vinila";
}

li {
  list-style: none;
}

ol {
  padding: 0;
}

button {
  cursor: pointer;
  font-family: "vinila";
}

*::after,
*::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  background: initial;
  border: initial;
  -webkit-appearance: none;
}
button:active {
  border-style: initial;
}
button:focus {
  outline: initial;
}

img {
  display: block;
  max-width: 100%;
}

fieldset {
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  min-inline-size: -webkit-min-content;
  min-inline-size: -moz-min-content;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: none;
  border-color: transparent;
  -o-border-image: initial;
     border-image: initial;
}

figure {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:focus {
  outline: 0px transparent !important;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header.faq-menu {
  background: #5037FF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-block: 1.25rem;
  padding-inline: 5vw;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
header.faq-menu .logo svg {
  width: 6.0625rem;
  height: 2rem;
}
header.faq-menu nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  header.faq-menu nav {
    display: none;
  }
}
header.faq-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38.75rem;
}
header.faq-menu ul a {
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.2s;
}
header.faq-menu ul a:hover {
  color: #00FF8C;
}
header.faq-menu .social-media {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  header.faq-menu .social-media {
    display: none;
  }
}
header.faq-menu .social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

footer.faq-footer {
  background: #1202A4;
  color: #FFFFFF;
}
footer.faq-footer .footer-wrapper {
  max-width: 1075px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  padding: 2rem 1.5rem;
}
@media screen and (max-width: 600px) {
  footer.faq-footer .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
  }
}

.about-menta {
  display: flex;
  max-width: 25rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .about-menta {
    max-width: 18.75rem;
  }
}
@media screen and (max-width: 600px) {
  .about-menta {
    align-items: flex-start;
    margin-top: 0.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
}
.about-menta a {
  color: #FFFFFF;
  text-decoration: underline;
  line-height: 1.25rem;
  display: block;
}
.about-menta .about-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.menta-online {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.menta-online span {
  font-weight: bold;
  margin-bottom: 0.625rem;
}
.menta-online .social-media {
  display: flex;
  gap: 2rem;
}
.menta-online .social-media svg {
  color: #FFFFFF;
  width: 1.5rem;
  height: 1.5rem;
}

footer.faq-footer .all-rights-reserved {
  padding-block: 1.6rem;
  width: 100%;
  border-top: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 600px) {
  footer.faq-footer .all-rights-reserved {
    flex-direction: column;
  }
  footer.faq-footer .all-rights-reserved span, footer.faq-footer .all-rights-reserved p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
footer.faq-footer .all-rights-reserved p::before {
  content: "•";
  padding-inline: 8px;
  content: "";
}
.cta-banner-wrapper {
  background: #fff;
  padding: 1.5rem 2rem;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border: 1px solid #A3A3A3;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .cta-banner-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .cta-banner-wrapper {
    padding: 1.5rem 1rem;
  }
}
.cta-banner-wrapper p {
  color: #0F0F0F;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.3rem;
  text-align: center;
}
.cta-banner-wrapper .btn-primary {
  background: #5037FF;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  padding-block: 0.75rem;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 2rem;
  border-radius: 12px;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.1), 0px 1px 2px rgba(16, 11, 55, 0.3);
  flex-shrink: 0;
  border: 1px solid #5037FF;
  color: #5037FF;
  background-color: #fff;
}
.cta-banner-wrapper .btn-primary svg {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.cta-banner-wrapper .btn-primary:hover {
  background: #1D00F5;
}
.cta-banner-wrapper .btn-primary svg {
  width: 24px;
  height: 24px;
}
.cta-banner-wrapper .btn-primary:hover {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .cta-banner-wrapper .btn-primary {
    width: 100%;
  }
}

.modal {
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.2s ease;
}
.modal.modal-active {
  opacity: 1;
}
.modal.modal-active .card-form {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}
.modal .card-form svg.close-modal {
  position: absolute;
  top: 1.9rem;
  right: 2rem;
  color: #0F0F0F;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.modal .card-form svg.close-modal:hover {
  color: #C82400;
}
.modal header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal h4 {
  font-size: 2.25rem;
  color: #5037FF;
  line-height: 2.75rem;
  margin-block: 0;
}
.modal span {
  line-height: 1.5rem;
}
.modal .card-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 1rem;
  max-width: 587px;
  width: 96%;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  transition: 0.2s ease;
}
@media screen and (max-width: 600px) {
  .modal .card-form {
    width: 90%;
    padding-inline: 1rem;
  }
}
.modal .card-form .input-validation-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}
.modal .card-form .input-validation-field p {
  font-size: 0.75rem;
  color: #C82400;
  position: absolute;
  top: 4.25rem;
}
.modal .card-form .form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8vw;
}
@media screen and (max-width: 600px) {
  .modal .card-form .form-columns {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.modal .card-form form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (max-width: 600px) {
  .modal .card-form form {
    gap: 2rem;
  }
}
.modal .card-form input {
  border: 0;
  width: 100%;
  outline: 0;
  color: #0F0F0F;
  font-size: 1rem;
  display: block;
  padding-block: 0.375rem;
  padding-inline: 0.625rem 0;
  color: #212529;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal .card-form footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.modal .card-form footer button {
  background: #857AEA;
  border-radius: 0.75rem;
  padding: 0.75rem;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  flex: 1;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modal .card-form footer button svg {
  color: #FFFFFF;
}
.modal .card-form footer button:hover {
  background: #6F5CFF;
}
.modal .card-form a.icon-question {
  border: 1px solid #5037FF;
  border-radius: 0.75rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.2s;
}
.modal .card-form a.icon-question:hover {
  background: #EDEBFF;
}
.modal .card-form svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #666666;
}
.modal .input-field {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  border: 1px solid #C8C2FF;
  border-radius: 0.75rem;
}
.modal .input-field.valido {
  border: 1px solid #1CC800 !important;
  padding-right: 1.125rem;
  background-image: url("../assets/img/valid.svg");
  background-repeat: no-repeat;
  background-position: right 1.125rem center;
  background-size: 1.5rem;
}
.modal .input-field.valido input {
  width: calc(100% - 48px);
}
.modal .input-field.invalido {
  border: 2px solid #C82400 !important;
  padding-right: 1rem;
  background-image: url("../assets/img/invalid.svg");
  background-repeat: no-repeat;
  background-position: right 1.125rem center;
  background-size: 1.5rem;
}
.modal .input-field.invalido input {
  width: calc(100% - 48px);
}
.modal .input-field:focus-within {
  border: 2px solid #2648BE;
}
.modal .input-field:focus-within svg {
  color: #0F0F0F;
}

body {
  opacity: 0;
}

main {
  overflow-x: hidden;
}

.PageFaq {
  font-family: "vinila";
  overflow-x: hidden;
}
.PageFaq .section-header {
  background: #00FF8C;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-left: 5vw;
  padding-top: 2.5rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .PageFaq .section-header {
    padding-left: 2vw;
  }
}
@media screen and (max-width: 800px) {
  .PageFaq .section-header {
    flex-direction: column;
    padding-left: 1vw;
    gap: 0.5rem;
  }
}
.PageFaq .section-header h2 {
  font-size: 3.375rem;
  color: #5037FF;
  text-transform: uppercase;
  line-height: 72px;
}
@media screen and (max-width: 600px) {
  .PageFaq .section-header {
    text-align: center;
  }
}
.PageFaq .section-header .title-bg {
  background: #5037FF;
  color: #00FF8C;
  -webkit-clip-path: polygon(0 20%, 99% 0%, 100% 80%, 1% 100%);
          clip-path: polygon(0 20%, 99% 0%, 100% 80%, 1% 100%);
  padding: 0.3rem 2.8rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .PageFaq .section-header .title-bg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
  }
}
.PageFaq .section-header .title-bg h2 {
  color: #00FF8C;
}
@media screen and (max-width: 600px) {
  .PageFaq .section-header .title-bg {
    width: 95%;
    padding-inline: 1.5rem;
  }
}
.PageFaq .section-header h2.relative {
  position: relative;
  left: 26%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 600px) {
  .PageFaq .section-header h2.relative {
    position: static;
    margin-inline: auto;
  }
}
.PageFaq .section-header .faq-img {
  max-width: 48vw;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .PageFaq .section-header .faq-img {
    max-width: 42vw;
  }
}
@media screen and (max-width: 800px) {
  .PageFaq .section-header .faq-img {
    position: static;
    max-width: 100vw;
    margin-left: auto;
  }
}
@media screen and (max-width: 600px) {
  .PageFaq .section-header .title-bg {
    padding-inline: 0.25rem;
  }
}
.PageFaq .faq-cards {
  background: #EBEAF4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 6.25rem;
  gap: 1.5rem;
  padding-inline: 1.5rem;
}
@media screen and (max-width: 600px) {
  .PageFaq .faq-cards {
    padding-inline: 0.5rem;
    padding-block: 3.5rem 6.25rem;
  }
}
.PageFaq .faq-card {
  max-width: 1000px;
  width: 100%;
  padding: 1.5rem;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PageFaq .faq-card .faq-card-title {
  display: flex;
  gap: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.PageFaq .faq-card .faq-card-title svg {
  width: 2rem;
  height: 2rem;
}
.PageFaq .faq-card .faq-card-title h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1202A4;
  line-height: 2rem;
  margin-block: 0;
  padding-block: 0;
}
.PageFaq .faq-card span {
  font-size: 1rem;
  color: #0F0F0F;
  line-height: 1.5rem;
}

.PageEmBreve .conteudo-intermediario {
  display: flex;
  justify-content: center;
}
.PageEmBreve .conteudo-intermediario .card-form {
  width: 30.5rem;
  background: white;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.0625rem 0.25rem rgba(16, 11, 55, 0.2), 0rem 0.1875rem 1rem rgba(16, 11, 55, 0.1);
}
.PageEmBreve .conteudo-intermediario .card-form h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4F37FF;
  line-height: 2rem;
}
.PageEmBreve .conteudo-intermediario .card-form p {
  width: 22rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #0F0F0F;
  margin-top: 1rem;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .input-field {
  position: relative;
  margin-top: 2rem;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .input-field img {
  position: absolute;
  left: 0.75rem;
  right: initial;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 1.5rem;
  height: 1.5rem;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .input-field input {
  background: white;
  border: 0.0625rem solid #C8C2FF;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  width: 100%;
  padding-left: 2.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666666;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .input-icon-right {
  position: relative;
  width: 100%;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .input-icon-right img {
  position: absolute;
  right: 30%;
  left: initial;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 1.5rem;
  height: 1.5rem;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final .icon-question {
  border: 0.0625rem solid #4F37FF;
  border-radius: 0.75rem;
  padding: 0;
  min-width: 3rem;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  transition: 0.3s ease;
  position: relative;
  cursor: pointer;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final .icon-question .tooltip {
  border: 0.0625rem solid #5037FF;
  position: absolute;
  bottom: calc(100% + 0.3125rem);
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 25rem;
  height: 8.125rem;
  background: white;
  color: #6F5CFF;
  z-index: 100;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
  display: grid;
  place-items: center;
  font-size: 1rem;
  line-height: 150%;
  box-shadow: rgba(99, 99, 99, 0.2) 0rem 0.125rem 0.5rem 0rem;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final .icon-question:hover {
  background-color: #EDEBFF;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final .icon-question:hover .tooltip {
  opacity: 1;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final .icon-question img {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  z-index: 2;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button {
  background: #857AEA;
  padding: 0.75rem 1.5rem;
  width: 100%;
  border-radius: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button svg {
  transition: transform 0.3s ease;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button:hover {
  background: #6F5CFF;
}
.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button:hover svg {
  transform: translateX(6.875rem);
}
@media screen and (max-width: 1024px) {
  .PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button:hover svg {
    transform: translateX(50px);
  }
}
.PageEmBreve .conteudo .img-clouds img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 7.8125rem;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.PageEmBreve .conteudo .img-circle img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 16.6875rem;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.PageEmBreve .conteudo .conteudo-intermediario .img-airplane img {
  max-width: 40.4375rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.PageEmBreve {
  overflow: hidden;
}
.PageEmBreve .intro {
  background: #00FF8C;
  transform: rotate(-10deg);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-inline: 1.5rem;
  margin-inline: auto;
}
.PageEmBreve h1 {
  color: #5037FF;
  font-weight: 900;
  font-size: 5.5rem;
  line-height: 7rem;
  margin-block: 6rem;
}
.PageEmBreve h1 .conteudo-intermediario {
  display: flex;
  gap: 4rem;
}
.PageEmBreve svg {
  width: 1.5rem;
  height: 1.5rem;
}
.PageEmBreve .quebra {
  display: none;
}
.PageEmBreve .cloud-1 {
  position: fixed;
  width: calc(100vw + 400px);
  height: auto;
  z-index: -2;
  top: 200px;
  left: -200px;
  right: -200px;
  margin: 0 auto;
}
.PageEmBreve .cloud-2 {
  position: fixed;
  width: calc(100vw + 400px);
  height: auto;
  z-index: -1;
  top: 250px;
  left: -200px;
  right: -200px;
  margin: 0 auto;
}
@media (min-width: 1111px) {
  .PageEmBreve.PageEmBreve .conteudo {
    height: calc(100vh - 5rem);
    margin-top: clamp(1.875rem, 21vh, 30rem) !important;
  }
  .PageEmBreve.PageEmBreve h1 {
    margin: 0;
    padding-top: 5px;
  }
  .PageEmBreve.PageEmBreve header.faq-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 5rem;
  }
  .PageEmBreve.PageEmBreve .intro {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 2.5rem;
    transform: rotate(-9deg) !important;
    overflow: hidden;
  }
  .PageEmBreve.PageEmBreve h1 {
    line-height: 150%;
    font-size: clamp(1.875rem, 3.8vw, 5.5rem) !important;
  }
  .PageEmBreve.PageEmBreve .formulario .input-field {
    position: relative;
  }
  .PageEmBreve.PageEmBreve .formulario .input-field input {
    padding-left: 3rem !important;
  }
  .PageEmBreve.PageEmBreve .formulario .input-field svg {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    color: #666666;
  }
  .PageEmBreve.PageEmBreve .conteudo-intermediario {
    margin-top: 11vh;
  }
  .PageEmBreve.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button {
    display: flex;
    align-items: center;
    padding: 0 1.5rem !important;
    height: 3rem;
    justify-content: center;
    gap: 0.5rem;
  }
  .PageEmBreve.PageEmBreve header.faq-menu .logo svg {
    width: 7.25rem;
    height: 2.5rem;
  }
  .PageEmBreve.PageEmBreve .conteudo .conteudo-intermediario .img-airplane img {
    margin-left: 2rem;
  }
}
@media (max-width: 1100px) {
  .PageEmBreve.PageEmBreve {
    overflow-y: auto;
  }
  .PageEmBreve.PageEmBreve .img-circle {
    display: none !important;
  }
  .PageEmBreve.PageEmBreve .intro {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: auto;
  }
  .PageEmBreve.PageEmBreve h1 {
    max-width: auto;
    line-height: 117%;
    text-align: center;
    font-size: 48px !important;
    margin-bottom: 1rem !important;
  }
  .PageEmBreve.PageEmBreve .conteudo-intermediario .card-form .formulario .conteudo-final button {
    display: flex;
    align-items: center;
    padding: 0 1.5rem !important;
    height: 3rem;
    justify-content: center;
    gap: 0.5rem;
  }
  .PageEmBreve.PageEmBreve .quebra {
    display: block;
  }
  .PageEmBreve.PageEmBreve .conteudo-intermediario {
    flex-direction: column-reverse !important;
    align-items: center;
  }
  .PageEmBreve.PageEmBreve .conteudo-intermediario .card-form {
    width: 100%;
    margin-bottom: 42px;
    max-width: clamp(300px, 100vw - 2rem, 400px);
  }
  .PageEmBreve.PageEmBreve .img-airplane {
    max-width: 90vw;
  }
  .PageEmBreve.PageEmBreve .formulario .input-field {
    position: relative;
  }
  .PageEmBreve.PageEmBreve .formulario .input-field input {
    padding-left: 3rem !important;
  }
  .PageEmBreve.PageEmBreve .formulario .input-field svg {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    color: #666666;
  }
}

.PagePost h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #5037FF;
  margin-block: 0;
  line-height: 3.75rem;
}
.PagePost h6 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0F0F0F;
  line-height: 1.75rem;
  margin-block: 0;
}
.PagePost p {
  line-height: 1.5rem;
}
.PagePost .post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85.375rem;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
.PagePost .post-container a.back-button {
  margin-block: 2.5rem;
  padding-inline: 5vw;
  width: 100%;
  text-decoration: none;
  color: #5037FF;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.PagePost .post-container svg {
  width: 0.625rem;
  height: 1.0625rem;
}
.PagePost .post-container .post-wrapper {
  max-width: 49.625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (max-width: 800px) {
  .PagePost .post-container .post-wrapper {
    gap: 1.5rem;
  }
}
.PagePost .post-container .post-wrapper .main-img {
  max-width: 56.0625rem;
}
.PagePost .post-container .post-wrapper img {
  border-radius: 16px 16px 0 0;
}
.PagePost .post-container .post-wrapper .post-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PagePost .post-container .post-wrapper .post-header .post-infos {
  color: #474747;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (max-width: 800px) {
  .PagePost .post-container .post-wrapper .post-header .post-infos {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
.PagePost .post-container .post-wrapper .post-header .post-infos .post-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.PagePost .post-container .post-wrapper .post-header svg {
  color: #474747;
  width: 1.5rem;
  height: 1.5rem;
}
.PagePost .post-container .post-wrapper .post-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PagePost .post-container .post-wrapper .post-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 800px) {
  .PagePost .post-container .post-wrapper .post-columns {
    flex-direction: column;
  }
}
.PagePost .post-container .author-container {
  display: grid;
  grid-template-columns: 56px 1fr;
  gap: 1rem;
  padding-block: 3.4375rem;
  border-block: 1px solid #A3A3A3;
}
.PagePost .post-container .author-container .author-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.PagePost .post-container .author-container .author-info strong {
  font-size: 1.125rem;
}
.PagePost .post-container .author-container .author-info span {
  font-weight: 300;
  line-height: 1.5rem;
}
.PagePost .post-container .next-reading {
  padding-bottom: 5.25rem;
}
.PagePost .post-container .next-reading h5 {
  color: #1D00F5;
  font-size: 1.5rem;
  margin-block: 1rem 2rem;
}
.PagePost .post-container .next-reading h6 {
  color: #5037FF;
  line-height: 1.75rem;
  text-align: center;
}
.PagePost .post-container .next-reading img {
  border-radius: 8px;
  width: 100%;
}
.PagePost .post-container .next-reading .next-post-card {
  display: flex;
  flex-direction: column;
  min-height: 16rem;
  gap: 1rem;
}
.PagePost .post-container .next-reading .next-post-card a {
  color: #5037FF;
  text-decoration: none;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5938rem;
}
.PagePost .post-container .next-reading .next-post-card a svg {
  width: 0.9375rem;
  height: 0.7813rem;
}

.PageBlog {
  background: #EBEAF4;
}
.PageBlog .section-header {
  background: #00FF8C;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding-left: 5vw;
  padding-top: 2.5rem;
  position: relative;
  align-items: center;
  padding-top: 0;
}
@media screen and (max-width: 1024px) {
  .PageBlog .section-header {
    padding-left: 2vw;
  }
}
@media screen and (max-width: 800px) {
  .PageBlog .section-header {
    flex-direction: column;
    padding-left: 1vw;
    gap: 0.5rem;
  }
}
.PageBlog .section-header h2 {
  font-size: 3.375rem;
  color: #5037FF;
  text-transform: uppercase;
  line-height: 72px;
}
@media screen and (max-width: 600px) {
  .PageBlog .section-header {
    text-align: center;
  }
}
.PageBlog .section-header .title-bg {
  background: #5037FF;
  color: #00FF8C;
  -webkit-clip-path: polygon(0 20%, 99% 0%, 100% 80%, 1% 100%);
          clip-path: polygon(0 20%, 99% 0%, 100% 80%, 1% 100%);
  padding: 0.3rem 2.8rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .PageBlog .section-header .title-bg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
  }
}
.PageBlog .section-header .title-bg h2 {
  color: #00FF8C;
}
@media screen and (max-width: 600px) {
  .PageBlog .section-header .title-bg {
    width: 95%;
    padding-inline: 1.5rem;
  }
}
.PageBlog .section-header h2.relative {
  position: relative;
  left: 26%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 600px) {
  .PageBlog .section-header h2.relative {
    position: static;
    margin-inline: auto;
  }
}
.PageBlog .section-header .faq-img {
  max-width: 48vw;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .PageBlog .section-header .faq-img {
    max-width: 42vw;
  }
}
@media screen and (max-width: 800px) {
  .PageBlog .section-header .faq-img {
    position: static;
    max-width: 100vw;
    margin-left: auto;
  }
}
@media screen and (max-width: 800px) {
  .PageBlog .section-header {
    padding-top: 1.6rem;
  }
}
.PageBlog .section-header .title-bg {
  align-self: center;
}
.PageBlog .section-header .blog-img {
  max-width: 28.3125rem;
  padding-top: 1rem;
  margin-bottom: -1.5rem;
}
.PageBlog .section-header .blog-img img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .PageBlog .section-header .blog-img {
    margin-left: auto;
    padding-top: 0;
  }
}
.PageBlog .blog-wrapper {
  max-width: 1206px;
  margin-block: 6.25rem;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-inline: 1.5rem;
  gap: 2rem;
}
.PageBlog .blog-wrapper .main-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 16px;
}
@media screen and (max-width: 800px) {
  .PageBlog .blog-wrapper .main-card {
    grid-template-columns: 1fr;
  }
}
.PageBlog .blog-wrapper .main-card .main-card-img {
  height: 100%;
}
.PageBlog .blog-wrapper .main-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 16px 0 0 16px;
}
@media screen and (max-width: 800px) {
  .PageBlog .blog-wrapper .main-card img {
    border-radius: 16px 16px 0 0;
  }
}
.PageBlog .blog-wrapper .main-card .main-card-info {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.PageBlog .blog-wrapper .main-card h5 {
  font-size: 1.5rem;
  color: #5037FF;
  line-height: 32px;
  margin-block: 0;
}
.PageBlog .blog-wrapper .main-card p {
  line-height: 1.5rem;
  color: #0F0F0F;
}
.PageBlog .blog-wrapper .main-card a {
  color: #5037FF;
  text-decoration: none;
  margin-top: 2.5rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5938rem;
}
.PageBlog .blog-wrapper .main-card a svg {
  width: 0.9375rem;
  height: 0.7813rem;
}
.PageBlog .blog-wrapper .swiper {
  margin-inline: 0;
}
.PageBlog .blog-wrapper .swiper .swiper-slide {
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 8px;
}
.PageBlog .blog-wrapper .blog-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  min-height: 23rem;
  border-radius: 8px;
}
.PageBlog .blog-wrapper .blog-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.PageBlog .blog-wrapper .blog-card h6 {
  color: #5037FF;
  font-size: 24px;
  margin-block: 0;
  line-height: 2rem;
  padding: 1.5rem 1.5rem 0;
}
.PageBlog .blog-wrapper .blog-card a {
  color: #5037FF;
  font-weight: 700;
  text-decoration: none;
  margin: auto 1.5rem 1.5rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5938rem;
}
.PageBlog .blog-wrapper .blog-card a svg {
  width: 0.9375rem;
  height: 0.7813rem;
}
.PageBlog .blog-wrapper .menta-way {
  width: 100%;
  border-radius: 8px;
  margin-block: 2.25rem;
  padding: 4.5rem 1.5rem;
  background: url("../assets/img/blog_img2.png") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.PageBlog .blog-wrapper .menta-way button {
  margin-top: 2rem;
  background: #5037FF;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  padding-block: 0.75rem;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  max-width: 23.75rem;
  width: 100%;
  border-radius: 8px;
}
.PageBlog .blog-wrapper .menta-way button:hover {
  background: #1D00F5;
}
.PageBlog .blog-wrapper h3 {
  font-size: 3rem;
  font-weight: 900;
  margin-block: 0;
  line-height: 3.75rem;
}
.PageBlog .see-more {
  display: flex;
  justify-content: center;
}
.PageBlog .see-more a {
  color: #5037FF;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #5037FF;
  margin-top: 32px;
  max-width: 36.8125rem;
  width: 100%;
  padding: 1.125rem;
  text-align: center;
  border-radius: 12px;
  transition: all 0.2s;
}
.PageBlog .see-more a:hover {
  background: #5037FF;
  color: #FFFFFF;
}

.PageHome {
  background: #EBEAF4;
}
.PageHome #banner-hero {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 69px);
}
.PageHome #banner-hero .container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.PageHome #banner-hero .content-wrapper {
  position: absolute;
  inset: 0;
  padding-bottom: 3rem;
}
.PageHome #banner-hero .intro {
  background-color: #00FF8C;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transform: rotate(-10deg);
}
.PageHome #banner-hero .intro .title {
  color: #5037FF;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 150%;
  font-size: clamp(1.875rem, 4.4vw, 5.5rem);
  padding: 0 1rem;
}
.PageHome #banner-hero .plane-wrapper {
  margin-bottom: 48px;
}
.PageHome #banner-hero .plane-wrapper img {
  margin: 0 auto;
}
.PageHome #banner-hero .cta-banner-wrapper {
  background: #fff;
  padding: 1.5rem 2rem;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .PageHome #banner-hero .cta-banner-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .PageHome #banner-hero .cta-banner-wrapper {
    padding: 1.5rem 1rem;
  }
}
.PageHome #banner-hero .cta-banner-wrapper p {
  color: #0F0F0F;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}
@media screen and (max-width: 800px) {
  .PageHome #banner-hero .cta-banner-wrapper p {
    font-size: 1.3rem;
    text-align: center;
  }
}
.PageHome #banner-hero .cta-banner-wrapper .btn-primary {
  background: #5037FF;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  padding-block: 0.75rem;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 2rem;
  border-radius: 12px;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.1), 0px 1px 2px rgba(16, 11, 55, 0.3);
  flex-shrink: 0;
}
.PageHome #banner-hero .cta-banner-wrapper .btn-primary svg {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.PageHome #banner-hero .cta-banner-wrapper .btn-primary:hover {
  background: #1D00F5;
}
@media screen and (max-width: 600px) {
  .PageHome #banner-hero .cta-banner-wrapper .btn-primary {
    width: 100%;
  }
}
.PageHome #banner-hero .parallax-group-images {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.PageHome #banner-hero .parallax-group-images img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.PageHome #banner-hero .parallax-group-images .ceu-banner {
  height: 100%;
  margin-bottom: -150px;
}
.PageHome #banner-hero .parallax-group-images .ceu-banner img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.PageHome #banner-hero .parallax-group-images .segundo-plano {
  position: relative;
  margin-bottom: -87px;
}
.PageHome #banner-hero .parallax-group-images .segundo-plano img {
  height: 417px;
  -o-object-position: 0;
     object-position: 0;
}
.PageHome #banner-hero .parallax-group-images .pista {
  position: relative;
}
.PageHome #banner-hero .parallax-group-images .pista img {
  height: 263px;
  -o-object-position: top left;
     object-position: top left;
}
.PageHome #sobre {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.PageHome #sobre .intro {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transform: rotate(-10deg);
  margin-bottom: 3rem;
}
.PageHome #sobre .intro .title {
  color: #5037FF;
  font-size: 5.5rem;
  font-weight: 900;
  font-size: clamp(3rem, 4.4vw, 3rem);
}
.PageHome #sobre .intro .title span {
  background-color: #00FF8C;
  padding: 10px;
}
.PageHome #sobre .intro .title .to-break {
  margin-left: -16px;
}
@media screen and (max-width: 800px) {
  .PageHome #sobre .intro .title .to-break {
    display: block;
    margin-left: 0;
    position: relative;
    left: 50%;
  }
}
.PageHome #sobre .sobre-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 800px) {
  .PageHome #sobre .sobre-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
.PageHome #sobre .sobre-grid .col-2 .title {
  font-weight: 700;
  font-size: 2.25rem;
  color: #5037FF;
  margin-bottom: 8px;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-wrapper .sub-title {
  color: #0F0F0F;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-wrapper p {
  margin-bottom: 1rem;
  color: #0F0F0F;
  font-size: 14px;
  line-height: 1.4;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-cards {
  margin-top: 1.5rem;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-cards .card-item {
  background-color: #fff;
  border: 1px solid #00FF8C;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 8px rgba(16, 11, 55, 0.1);
  border-radius: 16px;
  padding: 8px 24px 8px 40px;
  position: relative;
  max-width: 250px;
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 800px) {
  .PageHome #sobre .sobre-grid .col-2 .sobre-cards .card-item {
    margin-left: auto;
    margin-right: auto;
  }
}
.PageHome #sobre .sobre-grid .col-2 .sobre-cards .card-item svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.75rem;
  width: 3.5rem;
  height: 3.5rem;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-cards .card-item p {
  line-height: 1.4;
  font-size: 1rem;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-cards .card-item span {
  font-weight: 700;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-cards .card-item:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}
.PageHome #sobre .sobre-grid .col-2 .sobre-cards .card-item:nth-child(3) {
  margin-left: auto;
}
.PageHome #sobre .sobre-grid .col-2 .text-experimenta {
  color: #5037FF;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 1.5rem;
}
.PageHome #faq {
  background-color: #5037FF;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.PageHome #faq .intro {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transform: rotate(-10deg);
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 106px;
}
@media screen and (max-width: 800px) {
  .PageHome #faq .intro {
    right: 0;
  }
}
.PageHome #faq .intro .title {
  color: #5037FF;
  font-size: 5.5rem;
  font-weight: 900;
  font-size: clamp(3rem, 4.4vw, 3rem);
}
.PageHome #faq .intro .title span {
  background-color: #00FF8C;
  padding: 10px;
  display: block;
}
.PageHome #faq .intro .title .to-break {
  margin-left: 0;
  margin-top: -1px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 0;
  position: relative;
  left: 70%;
}
@media screen and (max-width: 800px) {
  .PageHome #faq .intro .title .to-break {
    left: 1rem;
  }
}
.PageHome #faq .swiper-faq {
  margin-bottom: 6rem;
}
@media screen and (max-width: 1024px) {
  .PageHome #faq .swiper-faq {
    overflow: visible;
  }
}
.PageHome #faq .swiper-faq .swiper-slide {
  height: auto;
}
.PageHome #faq .faq-cards .faq-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 8px;
  padding: 24px;
  border-bottom: 5px solid #00FF8C;
}
.PageHome #faq .faq-cards .faq-card svg {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}
.PageHome #faq .faq-cards .faq-card .pergunta-title {
  color: #0F0F0F;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 1rem;
}
.PageHome #faq .faq-cards .faq-card .resposta {
  color: #0F0F0F;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1.4rem;
}
.PageHome #faq .faq-cards .faq-card .saber-mais {
  margin-top: auto;
}
.PageHome #faq .cta-banner-wrapper {
  max-width: 910px;
}
.PageHome #contato {
  padding: 8rem 0;
}
.PageHome #contato .intro {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transform: rotate(-10deg);
  margin-bottom: 3rem;
}
@media screen and (max-width: 600px) {
  .PageHome #contato .intro {
    margin-left: auto;
    margin-right: auto;
  }
}
.PageHome #contato .intro .title {
  color: #5037FF;
  font-size: 5.5rem;
  font-weight: 900;
  font-size: clamp(3rem, 4.4vw, 3rem);
}
.PageHome #contato .intro .title .hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .PageHome #contato .intro .title .hide-mobile {
    display: inline-block;
    padding: 0;
  }
}
.PageHome #contato .intro .title .hide-desktop {
  display: none;
}
@media (max-width: 768px) {
  .PageHome #contato .intro .title .hide-desktop {
    display: inline-block;
    padding: 0;
  }
}
.PageHome #contato .intro .title span {
  background-color: #00FF8C;
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}
@media (max-width: 768px) {
  .PageHome #contato .intro .title span {
    margin: 0 auto;
  }
}
.PageHome #contato .intro .title .to-break {
  margin-left: auto;
  display: block;
  position: relative;
  left: 5rem;
}
@media (max-width: 768px) {
  .PageHome #contato .intro .title .to-break {
    left: unset;
  }
}
.PageHome #contato .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .PageHome #contato .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .PageHome #contato .grid-wrapper .images-group {
    grid-row: 1;
  }
}
.PageHome #contato .grid-wrapper .images-group .step {
  position: relative;
}
.PageHome #contato .grid-wrapper .images-group .step:nth-child(2) {
  transform: translateY(-44px);
}
@media screen and (max-width: 800px) {
  .PageHome #contato .grid-wrapper .images-group .step:nth-child(2) {
    transform: translateY(-30px);
  }
}
.PageHome #contato .grid-wrapper .images-group .step:nth-child(2) img {
  margin: 0 auto;
  right: 10px;
  filter: grayscale(1);
}
.PageHome #contato .grid-wrapper .images-group .step:nth-child(3) {
  transform: translateY(-120px);
  transform: translateY(-80px);
}
.PageHome #contato .grid-wrapper .images-group .step:nth-child(3) img {
  margin-left: auto;
  margin-right: 10px;
  filter: grayscale(1);
}
.PageHome #contato .card-form {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 1rem;
  max-width: 587px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  transition: 0.2s ease;
}
@media screen and (max-width: 600px) {
  .PageHome #contato .card-form {
    padding-inline: 1rem;
  }
}
.PageHome #contato .card-form header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PageHome #contato .card-form h4 {
  font-size: 2.25rem;
  color: #5037FF;
  line-height: 2.75rem;
  margin-block: 0;
}
.PageHome #contato .card-form span {
  line-height: 1.5rem;
}
.PageHome #contato .input-validation-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}
.PageHome #contato .input-validation-field p {
  font-size: 0.75rem;
  color: #C82400;
  position: absolute;
  top: 4.25rem;
}
.PageHome #contato .form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8vw;
}
@media screen and (max-width: 600px) {
  .PageHome #contato .form-columns {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.PageHome #contato form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (max-width: 600px) {
  .PageHome #contato form {
    gap: 2rem;
  }
}
.PageHome #contato input {
  border: 0;
  width: 100%;
  outline: 0;
  color: #0F0F0F;
  font-size: 1rem;
  display: block;
  padding-block: 0.375rem;
  padding-inline: 0.625rem 0;
  color: #212529;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.PageHome #contato footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.PageHome #contato footer button {
  background: #857AEA;
  border-radius: 0.75rem;
  padding: 0.75rem;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  flex: 1;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.PageHome #contato footer button svg {
  color: #FFFFFF;
}
.PageHome #contato footer button:hover {
  background: #6F5CFF;
}
.PageHome #contato a.icon-question {
  border: 1px solid #5037FF;
  border-radius: 0.75rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.2s;
}
.PageHome #contato a.icon-question:hover {
  background: #EDEBFF;
}
.PageHome #contato svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #666666;
}
.PageHome #contato .input-field {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  border: 1px solid #C8C2FF;
  border-radius: 0.75rem;
}
.PageHome #contato .input-field.valido {
  border: 1px solid #1CC800 !important;
  padding-right: 1.125rem;
  background-image: url("../assets/img/valid.svg");
  background-repeat: no-repeat;
  background-position: right 1.125rem center;
  background-size: 1.5rem;
}
.PageHome #contato .input-field.valido input {
  width: calc(100% - 48px);
}
.PageHome #contato .input-field.invalido {
  border: 2px solid #C82400 !important;
  padding-right: 1rem;
  background-image: url("../assets/img/invalid.svg");
  background-repeat: no-repeat;
  background-position: right 1.125rem center;
  background-size: 1.5rem;
}
.PageHome #contato .input-field.invalido input {
  width: calc(100% - 48px);
}
.PageHome #contato .input-field:focus-within {
  border: 2px solid #2648BE;
}
.PageHome #contato .input-field:focus-within svg {
  color: #0F0F0F;
}
.PageHome #blog {
  background-color: #5037FF;
  padding: 10rem 0;
}
.PageHome #blog .intro {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transform: rotate(-10deg);
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 0;
  margin-bottom: 7rem;
}
.PageHome #blog .intro .title {
  color: #5037FF;
  font-size: 5.5rem;
  font-weight: 900;
  font-size: clamp(3rem, 4.4vw, 3rem);
}
.PageHome #blog .intro .title span {
  background-color: #00FF8C;
  padding: 10px;
  margin-left: -15px;
}
@media screen and (max-width: 600px) {
  .PageHome #blog .intro .title span {
    display: block;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (max-width: 600px) {
  .PageHome #blog .intro .title .to-break {
    display: block;
    margin-top: -2px;
  }
}
.PageHome #blog .blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.PageHome #blog .main-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 16px;
}
@media screen and (max-width: 800px) {
  .PageHome #blog .main-card {
    grid-template-columns: 1fr;
  }
}
.PageHome #blog .main-card .main-card-img {
  height: 100%;
}
.PageHome #blog .main-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 16px 0 0 16px;
}
@media screen and (max-width: 800px) {
  .PageHome #blog .main-card img {
    border-radius: 16px 16px 0 0;
  }
}
.PageHome #blog .main-card .main-card-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}
@media screen and (max-width: 1024px) {
  .PageHome #blog .main-card .main-card-info {
    padding: 1.5rem 1rem;
  }
}
.PageHome #blog .main-card h5 {
  font-size: 1.5rem;
  color: #5037FF;
  line-height: 1.3;
  margin-block: 0;
}
.PageHome #blog .main-card p {
  line-height: 1.5rem;
  color: #0F0F0F;
}
.PageHome #blog .main-card a {
  color: #5037FF;
  text-decoration: none;
  margin-top: 2.5rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5938rem;
}
.PageHome #blog .main-card a svg {
  width: 0.9375rem;
  height: 0.7813rem;
}
.PageHome #blog .swiper {
  margin-inline: 0;
}
.PageHome #blog .swiper .swiper-slide {
  box-shadow: 0px 1px 4px rgba(16, 11, 55, 0.2), 0px 3px 16px rgba(16, 11, 55, 0.1);
  border-radius: 8px;
}
.PageHome #blog .blog-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  min-height: 23rem;
  border-radius: 8px;
}
.PageHome #blog .blog-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.PageHome #blog .blog-card h6 {
  color: #5037FF;
  font-size: 24px;
  margin-block: 0;
  line-height: 2rem;
  padding: 1.5rem 1.5rem 0;
}
.PageHome #blog .blog-card a {
  color: #5037FF;
  font-weight: 700;
  text-decoration: none;
  margin: auto 1.5rem 1.5rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5938rem;
}
.PageHome #blog .blog-card a svg {
  width: 0.9375rem;
  height: 0.7813rem;
}
.PageHome #blog .blog-card h6 {
  font-size: 1.5rem;
}
.PageHome #blog .menta-way {
  width: 100%;
  border-radius: 8px;
  margin-block: 2.25rem;
  padding: 4.5rem 1.5rem;
  background: url("../assets/img/blog_img2.png") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.PageHome #blog .menta-way button {
  margin-top: 2rem;
  background: #5037FF;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  padding-block: 0.75rem;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  max-width: 23.75rem;
  width: 100%;
  border-radius: 8px;
}
.PageHome #blog .menta-way button:hover {
  background: #1D00F5;
}
.PageHome #blog h3 {
  font-size: 3rem;
  font-weight: 900;
  margin-block: 0;
  line-height: 3.75rem;
}
.PageHome #blog .see-more {
  display: flex;
  justify-content: center;
}
.PageHome #blog .see-more a {
  color: #5037FF;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #5037FF;
  margin-top: 32px;
  max-width: 36.8125rem;
  width: 100%;
  padding: 1.125rem;
  text-align: center;
  border-radius: 12px;
  transition: all 0.2s;
}
.PageHome #blog .see-more a:hover {
  background: #5037FF;
  color: #FFFFFF;
}
.PageHome #trabalhe-conosco {
  padding: 10rem 0;
}
.PageHome #trabalhe-conosco .intro {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  transform: rotate(-10deg);
  margin-bottom: 7rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .PageHome #trabalhe-conosco .intro {
    max-width: 320px;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
  }
}
.PageHome #trabalhe-conosco .intro .title {
  color: #5037FF;
  font-size: 5.5rem;
  font-weight: 900;
  font-size: clamp(3rem, 4.4vw, 3rem);
  line-height: 1;
}
.PageHome #trabalhe-conosco .intro .title span {
  background-color: #00FF8C;
  padding: 10px;
  margin-left: -15px;
}
@media screen and (max-width: 1024px) {
  .PageHome #trabalhe-conosco .intro .title span {
    text-transform: capitalize;
  }
}
@media screen and (max-width: 1024px) {
  .PageHome #trabalhe-conosco .intro .title .to-break {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.PageHome #trabalhe-conosco .intro .title .to-break:nth-child(2) {
  margin: 0 auto;
}
.PageHome #trabalhe-conosco .intro .title .to-break:nth-child(3) {
  margin-left: auto;
}
@media (max-width: 1024px) {
  .PageHome #trabalhe-conosco .swiper-trabalhe {
    overflow: visible;
  }
}
.PageHome #trabalhe-conosco .card-trabalho {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #fff;
}
.PageHome #trabalhe-conosco .card-trabalho .img-wrapper img {
  width: 100%;
}
.PageHome #trabalhe-conosco .card-trabalho svg {
  width: 18px;
  height: 18px;
}
.PageHome #trabalhe-conosco .card-trabalho .content {
  padding: 16px 16px 19px;
}
.PageHome #trabalhe-conosco .card-trabalho .content .title {
  color: #0F0F0F;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 8px;
}
.PageHome #trabalhe-conosco .card-trabalho .content .info-vaga {
  color: #666666;
  font-size: 14px;
  margin-bottom: 18px;
}
.PageHome #trabalhe-conosco .card-trabalho .ver-mais {
  color: #5037FF;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.0015em;
  text-decoration: none;
}
.PageHome #trabalhe-conosco .card-trabalho .ver-mais svg {
  margin-left: 8px;
}
.PageHome #trabalhe-conosco .wrapper-info {
  max-width: 586px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}
.PageHome #trabalhe-conosco .wrapper-info .ver-mais {
  color: #5037FF;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.0015em;
  text-decoration: none;
  margin-top: 1.5rem;
}
.PageHome #trabalhe-conosco .wrapper-info .ver-mais svg {
  margin-left: 8px;
  width: 18px;
  height: 18px;
}/*# sourceMappingURL=index.css.map */