.conteudo
  .img-clouds
    img
      width: 100%
      height: 100%
      position: absolute
      top: 125px
      bottom: 0
      left: 0
      z-index: -1
      @include d(md2)
        top: 95px
      @include d(sm)
        top: -10vh

  .img-circle
    img
      width: 100%
      height: 100%
      position: absolute
      top: 267px
      bottom: 0
      left: 0
      z-index: -1
    @include d(max2xl)
      img
        top: 265px
    @include d(lg)
      img
        top: 260px
    @include d(md2)
      img
        top: 245px
    @include d(sm)
      img
        object-fit: contain

  .conteudo-intermediario
    .img-airplane
      img
        width: 40%
        height: 40%
        position: absolute
        bottom: 15vh
        right: 30vh
        object-fit: contain
        @include d(max2xl)
          bottom: 10vh
        @include d(xl)
          right: 25vh
        @include d(lg)
          right: 20vh
          bottom: 8vh
        @include d(sm)
          width: 400px
          top: 25vh
          bottom: 0
          right: 1vh
