footer.faq-footer
  background: #1202A4
  color: white

  .footer-wrapper
    max-width: 1075px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    text-align: center
    margin-inline: auto
    padding: 2rem 1.5rem

    @include d(sm)
      flex-direction: column
      align-items: flex-start
      text-align: left
      gap: 1.5rem

.about-menta
  display: flex
  max-width: 400px
  width: 100%
  justify-content: space-between
  align-items: center
  // gap: 7.75rem

  @include d(sm)
    align-items: flex-start
    margin-top: .5rem
    flex-direction: column
    justify-content: center
    gap: 1.5rem

  a
    color: white
    text-decoration: underline
    line-height: 1.25rem
    display: block

  .about-col
    display: flex
    flex-direction: column
    gap: 0.5rem
    text-align: left

.menta-online
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 0.5rem

  span
    font-weight: bold
    margin-bottom: .625rem

  .social-media
    display: flex
    gap: 2rem

    svg
      color: white
      width: 1.5rem
      height: 1.5rem

footer.faq-footer
  .all-rights-reserved
    padding-block: 1.6rem
    width: 100%
    border-top: 1px solid white

    display: flex
    justify-content: center
    align-items: center
