header.faq-menu
  background: $blue-500
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  padding-block: 1.25rem
  padding-inline: 5vw
  display: flex
  justify-content: space-between
  gap: 1.5rem

  .logo
    svg
      width: 6.0625rem
      height: 2rem

  nav
    display: flex
    align-items: center
    @include d(md)
      display: none

  ul
    display: flex
    align-items: center
    justify-content: space-between
    width: 38.75rem

    a
      text-decoration: none
      color: $white
      transition: all 0.2s
    a:hover
      color: $green-500

  .social-media
    max-width: 200px
    width: 100%
    display: flex
    justify-content: space-between
    @include d(md2)
      display: none

    svg
      width: 1.5rem
      height: 1.5rem
