header.faq-menu
  background: $blue-500
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  padding: 1rem 0

  .container
    display: flex
    justify-content: space-between
    gap: 2.8rem

  .logo
    svg
      width: 6.0625rem
      height: 2rem

  nav
    display: flex
    align-items: center
    justify-content: flex-end
    flex: 1
  ul
    display: flex
    align-items: center
    justify-content: space-between
    // width: 38.75rem
    @include d(md2)
     display: none
    a
      text-decoration: none
      color: $white
      transition: all 0.2s
      padding:  0 1rem 
    a:hover
      color: $green-500

  .social-media
    max-width: 200px
    width: 100%
    display: flex
    justify-content: space-between
    margin-left: auto
    @include d(md2)
      display: none
    svg
      width: 1.5rem
      height: 1.5rem
 
#btn-mobile
  display: none
  @include d(md2)
   display: block
  #hamburger 
    display: block
    border-top: 2px solid #fff
    width: 20px
  
    @include d(md2)
      display: block
    &::after,&::before 
      content: ''
      display: block
      width: 20px
      height: 2px
      background-color: #fff
      margin-top: 5px
      transition: .3s
      position: relative
    
