<footer class="faq-footer">
    <div class="svg-container">
      <!-- AJAX -->
    </div>
    <div class="footer-wrapper">
      <div class="menta-online">
        <span>Menta nas redes:</span>
        <div class="social-media">
          <a href="#">
            <svg>
              <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>
          
          <a href="#">
              <img src="./assets/img/tiktok.svg" title="Acesse nosso canal no Tiktok" alt="" />
          </a>

          <a href="#">
              <img src="./assets/img/facebook-round.svg" title="Acesse nosso canal no Facebook" alt="" />
          </a>

          <a href="#">
              <img src="./assets/img/instagram.svg" title="Acesse nosso canal no Instagram" alt="" />
          </a>
        </div>
      </div>

      <div class="about-menta">
        <div class="about-col">
          <a href="#" class="links">Mapa do site</a>
          <a href="#" class="links">Institucional</a>
        </div>

        <div class="about-col">
          <a href="#" class="links">Política de privacidade</a>
          <a href="#" class="links">Termos de uso</a>
        </div>
      </div>
    </div>

    <div class="all-rights-reserved">
      <span>@ 2022 - 2023 Menta • Todos os direitos reservados</span>
    </div>
  </footer>
