<header class="faq-menu">
  <div class="container">

  
  <a href="/page_home.html#banner-hero-2" class="logo">
    <svg>
      <use xlink:href="#icon-logo"></use>
    </svg>
  </a>

  <nav>
 
    <ul class="menu-links">
      <li>
        <a href="/page_home.html#banner-hero-2">Home</a>
      </li>
      <li>
        <a href="/page_home.html#sobre">O que é Menta?</a>
      </li>
      <li>
        <a href="/page_home.html#blog">Fique por dentro</a>
      </li>
      <li>
        <a href="/faq.html">FAQ</a>
      </li>
      <li>
        <a href="/page_contato.html">Contato</a>
      </li>
      <li>
        <a href="/blog.html">Blog</a>
      </li>

      <div class="social-media social-mobile"></div>
    </ul>

    <div class="social-media social-desktop">
      <a href="#">
        <img src="../../assets/img/youtube.svg" alt="">
      </a>
  
      <a href="#">
        <img src="./assets/img/tiktok.svg" title="Acesse nosso canal no Tiktok" alt="" />
      </a>
  
      <a href="#">
          <img src="./assets/img/facebook-round.svg" title="Acesse nosso canal no Facebook" alt="" />
      </a>
  
      <a href="#">
          <img src="./assets/img/instagram.svg" title="Acesse nosso canal no Instagram" alt="" />
      </a>
    </div>


    <button id="btn-mobile" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
      <span id="hamburger"></span>
    </button>
  </nav>

</div>

</header>



