<header class="faq-menu">
  <div class="logo">
    <svg>
      <use xlink:href="#icon-logo"></use>
    </svg>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="about.html">O que é Menta?</a>
      </li>
      <li>
        <a href="#">Fique por dentro</a>
      </li>
      <li>
        <a href="faq.html">FAQ</a>
      </li>
      <li>
        <a href="contact.html">Contato</a>
      </li>
      <li>
        <a href="blog.html">Blog</a>
      </li>
    </ul>
  </nav>

  <div class="social-media">
    <a href="#">
      <img src="../../assets/img/youtube.svg" alt="">
    </a>

    <a href="#">
      <img src="./assets/img/tiktok.svg" title="Acesse nosso canal no Tiktok" alt="" />
    </a>

    <a href="#">
        <img src="./assets/img/facebook-round.svg" title="Acesse nosso canal no Facebook" alt="" />
    </a>

    <a href="#">
        <img src="./assets/img/instagram.svg" title="Acesse nosso canal no Instagram" alt="" />
    </a>
  </div>
</header>
